<h1>Your URL has been shortened!</h1>
<p>Original URL: <%= @url.full_url %></p>
<p>Shortened URL: <a href="http://localhost:3000/urls/<%= @url.shortened_url %>"</a>http://localhost:3000/urls/<%= @url.shortened_url %></p>
  
